
body{
    background-color: black;
    color: white;
    
}
#top-container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    #content-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
    h1{
        letter-spacing: 4px;
        font-size: 50px;
        font-family: fantasy;
        font-weight: 500;
    }
    #hrule{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 225px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 0px;
    }
    #terms{
        font-size: x-small;
        width: 225px;
        color: gray;
    }
    #terms > a {
        color: blue;
    }
    button{
        width: 225px;
        height: 30px;
        border-radius: 15px;
    }
    button:hover{
        background-color: lightgray;
    }
    #create{
        background-color: rgb(32, 120, 243);
    }
}
#bottom-container{
    width: 100%;
    height: 20vh;
   
   
}
 #bottom-container > nav > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    }
li{
    list-style-type: none;
    color: gray;
    font-weight: 100;
    font-size: small;
    padding: 8px;
}